.form-entry {
    max-width: max-content;
    margin: auto;
}

.window {
	display: inline-block;
	width: 400px;
	height: 400px;
}

.entry {
	display: inline-block;
	margin: 10px;
}

.enterBtn {
	margin-right: 10px;
}

.display-area {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}


#display-table {
	width: 400px;
}

th {
	border-bottom: 2px solid #111;
	border-top: 1px solid #999;
	text-align: left;
}

#totalbox {
	color: red;
}

h1, h2 {
	text-align: center;
}
}

